.App{
    .sidebar{
        width: 16%;
        height: 100vh;
        background-color: rgb(36, 36, 36);
        position:fixed;
    }
    .main-content{
        width: 84%;
        margin-left: 16%;
        background-color: black;
        min-height: 100vh;
    }
}